@page
@model Assingment.Pages.Departments.UpdateDepartmentModel
@{
}
@{
    await Html.RenderPartialAsync("_Message");
}
<br />
<div class="d-inline-flex">
    <div>
        <h1>Update Department</h1>
    </div>
</div>

<form asp-action="Create" method="post">
    <div style="max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    margin-top: 10px;
    font-size:medium;
    justify-content:space-between;
    font-weight:600;
    border: 2px solid black;
    border-radius: 5px;
    background-color:gold
">
        <div class="form-group row">
            <label for="Name" class="col-sm-2 col-form-label">Name</label>
            @Html.HiddenFor(x => x.ID)
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label for="Email" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.Description, new { placeholder = "Description", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Update</button>
    </div>

</form>